In [19]:
num =  "52"
i =len(num) -1
while i >= 0 and (num):
  #print(i,num[0:i+1])
  if int(num[i])%2 !=0 :
    print(num[0:i+1])
    break
  i-=1
else:
  print("")

5

In [5]:
s = "loveleetcode"
lst = list(s)
print(lst)

['l', 'o', 'v', 'e', 'l', 'e', 'e', 't', 'c', 'o', 'd', 'e']

In [ ]:
Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.



Example 1:

Input: s = "leetcode"
Output: 0
Example 2:

Input: s = "loveleetcode"
Output: 2
Example 3:

Input: s = "aabb"
Output: -1


Constraints:

1 <= s.length <= 105
s consists of only lowercase English letters.

In [4]:
s = "loveleetcode"
lst = list(s)
i = 0
result= -1
while i<len(lst):
  element = lst[i]
  lst[i] = "0"
  if element in lst:
    lst[i] = element
    i+=1
  else:
    result = i
    break
print(result)

2